

<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Pricer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script>
    function calculatePrice() {
        var maturity = document.getElementById('maturity').value;

        fetch(`/prix_americain/${maturity}`)
        .then(response => response.json())
        .then(data => {
            document.getElementById('price').innerText = 'Prix: ' + data.resultat_americaine;
        })
        .catch(error => console.error('Error:', error));
    }
</script>

  </script>
</head>

<body>
  <div class="banner">
    <!-- Menu horizontal pour les onglets -->
    <nav class="navigation">
      <ul>
        <li><a href="{{ url_for('index') }}"> Mon Compte</a></li>
        <li><a href="{{ url_for('actions') }}"> Actions</a></li>
        <li><a href="{{ url_for('american') }}"> Options américaines</a></li>
        <li><a href="{{ url_for('european') }}"> Options européennes</a></li>
        <li><a href="{{ url_for('about_us') }}"> About us</a></li>
        <a href="/logout">Déconnexion</a>
      </ul>
    </nav>
  </div>

  <main id="main-container" class="main-container">
    <header class="header">
      <h1 class="header-title">Pricer options américaines</h1>
    </header>

    <h4>Acheter options american (les boutons sont pas bien connecté) </h4>
    
    <label for="actionSymbol">Symbole de l'action:</label>
    <input type="text" id="actionSymbol" name="actionSymbol"><br><br>
    
    <label for="maturity">Maturité:</label>
    <input type="text" id="maturity" name="maturity"><br><br>
    
    <button type="button" onclick="calculatePrice()">Calculer le Prix</button>
    <span id="price"></span><br><br>

    <label for="quantity">Nombre d'options:</label>
    <input type="number" id="quantity" name="quantity"><br><br>
    
    <button onclick="sellOptions()">Vendre</button>
        <button onclick="buyOptions()">Acheter</button>

    </div>

  <script src="{{ url_for('static', filename='prompt.js') }}"></script>



</body>

</html>