

<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Pricer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <style>
    /* Styles spécifiques pour les boutons d'options */
    .choose-option {
      text-align: center;
      margin-top: 50px;
    }

    .choose-option button {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #2a303b;
      color: white;
      transition: background-color 0.3s ease;
      margin: 0 10px;
    }

    .choose-option button:hover {
      background-color: #1c1f25;
    }
  </style>
</head>ams

<body>
  <div class="banner">
    <!-- Menu horizontal pour les onglets -->
    <nav class="navigation">
      <ul>
        <li><a href="{{ url_for('hello') }}">Pricer</a></li>
        <li><a href="{{ url_for('about_us') }}">About us</a></li>
      </ul>
      <!-- Bouton Dark Mode dans la bannière -->
      <button id="dark-mode-toggle">Activer/Désactiver le Mode Sombre</button>
    </nav>
  </div>

  <main id="main-container" class="main-container">
    <header class="header">
      <h1 class="header-title">Pricer</h1>
    </header>

    <section class="messages-container" id="messages-container">
      <div class="message message-ai">
        AI powered pricer for quantitative finance. 
      </div>
    </section>


    <div class="choose-option">
      <form action="/choix_option" method="post">
        <p>Quel type d'option choisis-tu ?</p>
        <div class="option-buttons">
          <button type="submit" name="option" value="americaine">Option Américaine</button>
          <button type="submit" name="option" value="europenne">Option Européenne</button>
        </div>
      </form>
    </div>
    
  



  </main>
  <script src="{{ url_for('static', filename='prompt.js') }}"></script>
  </main>
  <script src="{{ url_for('static', filename='prompt.js') }}"></script>
</body>

</html>
