<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        /* Add additional CSS styles for the password toggle */
        .password-toggle {
            position: relative;
        }
        .password-toggle input[type="password"] {
            padding-right: 30px;
        }
        .password-toggle .toggle-btn {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <form action="/login" method="post">
            <h1 class="text-center">Connexion</h1>

            <label for="username" class="text-center">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" required>

            <label for="password" class="text-center password-toggle">Mot de passe</label>
            <input type="text" id="password" name="password" required>
            <button type="submit" class="button-primary">Se connecter</button>
            <a href="{{ url_for('register') }}" class="button-primary">S'inscrire</a>
        </form>
    </div>


    </script>
</body>
</html>
