<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Login - Pricer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <style>
    /* Styles spécifiques pour les boutons d'options */
    .choose-option {
      text-align: center;
      margin-top: 50px;
    }

    .choose-option button {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #2a303b;
      color: white;
      transition: background-color 0.3s ease;
      margin: 0 10px;
    }

    .choose-option button:hover {
      background-color: #1c1f25;
    }
  </style>
</head>

<body>
  <div class="banner">
    <!-- Menu horizontal pour les onglets -->
    <nav class="navigation">
      <ul>
        <!-- Add navigation links specific to the login page if needed -->
        <li><a href="{{ url_for('register.signup') }}">Signup</a></li>
        <li><a href="{{ url_for('hello') }}">Pricer</a></li>
        <li><a href="{{ url_for('about_us') }}">About us</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
      </ul>
      <!-- Bouton Dark Mode dans la bannière -->
      <button id="dark-mode-toggle">Activer/Désactiver le Mode Sombre</button>
    </nav>
  </div>

  <main id="main-container" class="main-container">
    <header class="header">
      <h1 class="header-title">Login</h1>
    </header>

    <!-- Login form -->
    <section class="login-container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flash-messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <form class="login-form" method="post" action="{{ url_for('login') }}">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
      </form>
    </section>

    <!-- Other content specific to the login page if needed -->
  </main>

  <script src="{{ url_for('static', filename='prompt.js') }}"></script>
</body>

</html>
